<link rel="stylesheet" />
<nav>
  <ul>
    <img src="assets/exist_user.png" alt="exist_user">
    <br><br>
    <li><a href="/login">existed user</a></li>
    <br><br>
    <img src="assets/new_user.png" alt="new_user" width="250" height="250"/>
    <br><br>
    <li><a href="/register">New user</a></li>
    <br><br>
  </ul>
</nav>