<link rel="stylesheet" />
<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:"250";
  height:"250"
}
</style>
<nav>
  <ul>
    <img class="center" src="assets/instructor.jpeg" alt="instructor" width="250" height="250" />
    <br><br>
    <li style="text-align: center;"><a href="/instructor">Instructor</a></li>
    <br><br>
    <img class="center" src="assets/learner.png" alt="Learner" width="250" height="250"/>

    <br><br>
    <li style="text-align: center;"><a href="/learner">Learner</a></li>
    <br><br>
  </ul>
</nav>