<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/python1">Recorded video 1</a></li>
    <li><a href="/python2">Recorded video 2</a></li>
    <li><a href="/python3">Recorded video 3</a></li>
    <li><a href="/Pythonquiz">Quiz</a></li>
  </ul>
</nav>