<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/cn1">computer1</a></li>
    <li><a href="/cn2">computer2</a></li>
    <li><a href="/cn3">computer2</a></li>
    <li><a href="/cnquiz">Quiz</a></li>
  </ul>
</nav>