<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/c_course">C</a></li>
    <li><a href="/cplusplus">C++</a></li>
    <li><a href="/java">java</a></li>
    <li><a href="/Datastructres">Datastructres</a></li>
    <li><a href="/Algorithms">Algorithms</a></li>
    <li><a href="/cn">computer networks</a></li>
    <li><a href="/python">Python</a></li>
    <li><a href="/Operating_Systems">Operating_Systems</a></li>
    <li><a href="/DBMS">DBMS</a></li>



  </ul>
</nav>
