<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/os1">Recorded video 1</a></li>
    <li><a href="/os2">Recorded video 2</a></li>
    <li><a href="/os3">Recorded video 3</a></li>
    <li><a href="/Osquiz">Quiz</a></li>
  </ul>
</nav>