<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/courses1">Courses</a></li>
    <li><a href="/MockTest">MockTest</a></li>
    <li><a href="/Test">Test</a></li>
  </ul>
</nav>