<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/C1">C1</a></li>
    <li><a href="/C2">C2</a></li>
    <li><a href="/C3">C3</a></li>

    <li><a href="/c_quiz">Quiz</a></li>
  </ul>
</nav>
