<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/cplus1">Recorded 1</a></li>
    <li><a href="/cplus2">Recorded 2</a></li>
    <li><a href="/cplus3">Recorded 3</a></li>
    <li><a href="/cplusplusquiz">Quiz</a></li>
  </ul>
</nav>
