<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/cplusplus_video">Dsa1</a></li>
    <li><a href="/c_video">Dsa2</a></li>
    <li><a href="/cplusplus1">Dsa3</a></li>
    <li><a href="/Dsquiz">Quiz</a></li>
  </ul>
</nav>