<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/Algo1">Recorded video 1</a></li>
    <li><a href="/Algo2">Recorded video 2</a></li>
    <li><a href="/Algo3">Recorded video 3</a></li>
    <li><a href="/Algoquiz">Quiz</a></li>
  </ul>
</nav>