<link rel="stylesheet" href="css/nav.css" />
<nav>
  <ul>
    <li><a href="/dbms1">Dbms1</a></li>
    <li><a href="/dbms2">Dbms2</a></li>
    <li><a href="/dbms3">Dbms3</a></li>
    <li><a href="/Dsquiz">Quiz</a></li>
  </ul>
</nav>