<!DOCTYPE html>
<html>
<head>
<style>
.center{margin-left:auto;margin-right:auto;}
.bisque{background-color:bisque;color:black;}
.black{background-color:black;color:white;}
.blanchedalmond{background-color:blanchedalmond;color:black}
.blue{background-color:blue;color:white}
.blueviolet{background-color:blueviolet;color:white;}
.brown{background-color:brown;color:white;}
.burlywood{background-color:burlywood;color:black;}
.cadetblue{background-color:cadetblue;color:white;}
.chartreuse{background-color:chartreuse;color:black;}
</style>
</head>
<body>
<table class="center"  >
<tr>
<th class="bisque" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\c_course.html" method="post" action="/courses">
    <h1>C</h1>
</a>
</th>
<th class="black" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\c++_course.html">
<h1>C++</h1>
</a>
</th>
<th class="blanchedalmond" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\java_course.html">
<h1>JAVA</h1>
</a>
</th>
</tr>
<tr>
<tr>
<th class="black" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\data_structures_course.html">
<h1>Data Structures</h1>
</a>
</th>
<th class="blueViolet" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\Algorithms_course.html">
<h1>Algorithms</h1>
</a>
</th>
<th class="brown" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\computer_networks_course.html">
<h1>Computer networks</h1>
</a>
</th>
</tr>
<tr>
<tr>
<th class="burlywood" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\python_course.html">
<h1>PYTHON</h1>
</a>
</th>
<th class="cadetblue" style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\OS_course.html">
<h1>Operating systems</h1>
</a>
</th>
<th class="chartreuse"style="width:200px;height:200px">
<a href="C:\Users\alapa\Documents\e-learning web (2)\e-learning web\DBMS_course.html">
<h1>DataBase Management Systems</h1>
</a>
</th>
</tr>
</table>
</body>
</html>