<!doctype html>
<html>
<head>
<style>
body{background-color:pink;}
form{text-align:center;color:black;}
</style>
</head>
<body>
<h1 style="text-align: center;">E LEARNING APPLICATION</h1>
<%-include('partials/nav14.ejs')%>

</body>
</html>
